body {
    background-color:white;
    font-family:'Times New Roman', Times, serif;
    min-width:290px;
    line-height: 1.5;
}

nav {
    position: fixed;
    min-width: 290px;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    border-right: solid rgb(131, 128, 128);

}

header{
    margin: 10px;
    text-align: center;
    font-size: 1.8em;

}

#main-doc header {
    text-align: left;
    margin: 0px;
}

#navbar ul {
    height: 88%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

#navbar li{
    border-top: 1px solid;
    list-style: none;
    position: relative;
    width: 100%;
}

#navbar a{
    display: block;
    padding: 10px 30px;
    text-decoration: none;

}

#main-doc {
    position: absolute;
    margin-left: 310px;
    /* margin-bottom: 110px; */

}

section {
    margin: 20px;
    font-size: 16px;
}

code {
    background-color:rgb(230, 225, 225);
    text-align: left;
    white-space: pre-line;
    position: relative;
    word-break: normal;
    word-wrap:normal;
    line-height: 2;
}

@media only screen and (max-width: 800px) {
    #navbar ul {
        border: 1px solid;
        height: 207px;
    }
}


























